.subsection-head {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #7f0909;
}
.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 5%;
    padding-top: 5%;
}

#header-left {
}

#header-right {
}

#header-image {
padding-top: 5%;
margin-left: 30%;
margin-right: 30%;
width: 0%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e20e0e;

    color: #333;
}
h1 { 
    background-color: #f5dacf; 
    font-family: monospace; 
    font-size: 48px;
}
p {
    background-color: lightblue;
    border: #060606 solid 2px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;

}
a:link {
    color: blue;
}
a:visited {
    color: purple;
}
a:hover {
    color: green;
}
a:active {
    color: red;
}

#link-spacing {
    margin-bottom: 5%;
}


/*** VSCodeEDU preview fix 

  Purpose:
  - Fix VSCodeEDU issue that causes a white border to show around
    the preview window

  When To Modify:
  - If you change the background color of your webpage, you may need to update this rule too.
***/
html {
    background-color: var(--bg-color);
}

/*** body ***
  
  Purpose:
  - Add style rules for the body of your webpage
  - This is useful if you want a rule to apply to EVERYTHING on your page
    - (Tip: You can always override these rules later in the stylesheet)

  When To Modify:
  - [ ] Project 3 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

a,
a * {
    
}

button {
    /* Example Style, replace with your own! */
    background-color: blueviolet;    /* button color */
    color: white;               /* text color */
    border: none;               /* hides the default border */
    padding: 5px 12px;          /* space between button's text and edge */
    border-radius: 5px;         /* curved edges instead of square */
    cursor: pointer;            /* makes the cursor change when over button */
}

button:hover {
    /* Make the button look different when the user hovers over it */
}


    

/*** footer ***
  
  Purpose:
  - Add style rules for your website's footer section

  When To Modify:
  - [ ] Project 3 (STRETCH FEATURE) 
  - [ ] Any time after
***/

.footer { 
  background-color: blueviolet;
  color:black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 10%;
    
}

.navbar ul {
    z-index: 1000; /* Ensures the navbar is on top of other elements */
    
}

.navbar ul li {
    float: left;
    margin: 10px;
}

.navbar ul li a {
    
}

.navbar ul li a:hover {
    
}



/*** RSVP [PLACEHOLDER] [ADDED IN UNIT 6] ***/
.rsvp-container {

}
/*** Animations [PLACEHOLDER] [ADDED IN UNIT 8] ***/
/*** Success Modal [PLACEHOLDER] [ADDED IN UNIT 9] ***/
/* Default dark mode style */
.dark-mode {
background-color: black;
color: white;
}

/* Example: Different dark mode style for h1 */
.dark-mode h1, .dark-mode h2, .dark-mode h3 {
    color : yellow;
    
}
.dark-mode #theme-button{
background-color: green;
border: 2px solid white;
}
/* Example: Different dark mode style for visited links */
.dark-mode a:visited * {

}

/* Add style to button */
#theme-button {

}


/* Customize Dark Mode Theme */
.dark-mode {


}

/*** Custom Colors (OPTIONAL) ***
  
  Purpose:
  - Use CSS variables to define custom colors for your website
  - To get you started, we've provided the color scheme used in our example site.
  - To reference a color variable in your css, use var(--variable-name) in place of a color value

  When To Modify:
  - [ ] Any time (OPTIONAL)
***/

:root {
    /* Light Mode */
    --bg-color: #a6a0cf;
    --text-color: #231942;

    /* Dark Mode */
    --bg-color-dark-mode: #3e3377;
    --text-color-dark-mode: #fff;

    /* Accent Colors */
    --accent-color-light: #d2cff5;
    --accent-color-medium: #684fb5;
    --accent-color-dark: #482f95;
    --accent-color-darkest: #231942;
    --accent-color-green: #28eb76;

    /* Error Colors */
    --error-color: #f8bbd0;
    --error-color-border: #e63946;
}